[uwsgi]
master = 1
socket = /tmp/pybossa.sock
chmod-socket = 666
chdir = {{pybossa_path}}
pythonpath = .
virtualenv = {{virtualenv_path}}
module = run:app
cpu-affinity = 1
processes = %k
threads = 2
max-fd = 10000 # see nginx worker_rlimit_nofile
buffer-size = 65535
memory-report = 1
stats = /tmp/pybossa-stats.sock
#lazy-apps = 1
# uwsgi won't start if listen queue size > net.core.somaxconn (default 128)
#listen = 5000 # see nginx worker_connections
#die-on-term = true
